Ironhack_gambling_temp.ipynb

In [1]:
import pandas as pd

# Specify the file path for the Excel file
file_path = r'dataset\SQL Test Data.xlsx'

# Load the Excel file into a pandas DataFrame
try:
    # Read the Excel file
    sql_test_data = pd.ExcelFile(file_path)

    # Display all sheet names
    print("Available sheets:", sql_test_data.sheet_names)

    # Load each sheet into a dictionary of DataFrames
    ironhack_gambling_df = {sheet: sql_test_data.parse(sheet) for sheet in sql_test_data.sheet_names}

    # Display all columns in every sheet
    for sheet, df in ironhack_gambling_df.items():
        print(f"\nSheet: {sheet}")
        print(f"Columns: {df.columns.tolist()}")
        print(df.head())

    # Display the first few rows of each sheet
    for sheet, df in ironhack_gambling_df.items():
        print(f"\nSheet: {sheet}")
        print(df.head())

except FileNotFoundError:
    print(f"Error: The file '{file_path}' was not found. Please check the path.")
except Exception as e:
    print(f"An error occurred: {str(e)}")

Available sheets: ['Account', 'Customer', 'Betting', 'Product', 'Student_School']

Sheet: Account
Columns: ['AccountNo', 'CustId', 'AccountLocation', 'CurrencyCode', 'DailyDepositLimit', 'StakeScale', 'SourceProd']
    AccountNo   CustId AccountLocation CurrencyCode  DailyDepositLimit
0  00357DG     3531845             GIB          GBP                  0  \
1  00497XG     4188499             GIB          GBP                  0
2  00692VS     4704925             GIB          USD                  0
3  00775SM     2815836             GIB          USD                  0
4  00C017       889782             GIB          GBP               1500

   StakeScale SourceProd
0        1.00         GM
1        1.00         SB
2        2.00         SB
3        1.00         SB
4        0.41         XX

Sheet: Customer
Columns: ['CustId', 'AccountLocation', 'Title', 'FirstName', 'LastName', 'CreateDate', 'CountryCode', 'Language', 'Status', 'DateOfBirth', 'Contact', 'CustomerGroup']
    CustId AccountLocation Title FirstName  LastName CreateDate CountryCode
0  4188499             GIB    Mr     Elvis   Presley 2011-11-01          US  \
1  1191874             GIB    Mr       Jim  Morrison 2008-09-19          US
2  3042166             GIB    Mr     Keith      Moon 2011-01-11         UK
3  5694730             GIB    Mr     James   Hendrix 2012-10-10          US
4  4704925             GIB    Mr      Marc     Bolan 2012-03-26         UK

  Language Status DateOfBirth Contact CustomerGroup
0       en      A  1948-10-18       Y        Bronze
1       en      A  1967-07-27       Y          Gold
2       en      A  1970-07-26       Y          Gold
3       en      A  1976-04-05       N        Bronze
4       en      A  1982-03-11       Y        Bronze

Sheet: Betting
Columns: ['AccountNo', 'BetDate', 'ClassId', 'CategoryId', 'Source', 'BetCount', 'Bet_Amt', 'Win_Amt', 'Product', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'AccountNo.1', 'Bet_Amt.1', 'Product.1', 'Unnamed: 15', 'AccountNo.2', 'Vegas', 'Sportsbook', 'Games', 'Casino', 'Poker', 'Bingo', nan, 'Adjustments']
    AccountNo    BetDate     ClassId  CategoryId Source  BetCount  Bet_Amt
0  01196ZZ    2012-11-24  22512_XFER       22512      I       189  29364.0  \
1  00357DG    2012-11-27  22512_XFER       22512      I      1415  19835.0
2  00357DG    2012-11-24  22512_XFER       22512      I      2026  19280.8
3  01196ZZ    2012-12-19  22512_XFER       22512      I       151  17301.0
4  01284UW    2012-10-21          46           5      I        25  16850.0

    Win_Amt     Product  Unnamed: 9  ...  Unnamed: 15  AccountNo.2     Vegas
0  28947.00       Vegas         NaN  ...          NaN   01196ZZ      89860.7  \
1  18639.15       Vegas         NaN  ...          NaN   00357DG     191804.9
2  17904.50       Vegas         NaN  ...          NaN   01284UW          0.0
3  16956.00       Vegas         NaN  ...          NaN   01148BP       7030.0
4   3319.11  Sportsbook         NaN  ...          NaN   00497XG          0.0

   Sportsbook     Games  Casino Poker  Bingo    NaN  Adjustments
0    42758.00      0.00  1262.0   0.0    0.0    0.0         0.00
1      100.00  16899.85    20.0   0.0   49.8    0.0       295.21
2   152613.05      0.00     0.0   0.0    0.0    0.0         0.00
3   290957.71      0.00     0.0   0.0    0.0  500.0         0.00
4        0.00  25784.57     0.0   0.0    0.0    0.0         0.00

[5 rows x 25 columns]

Sheet: Product
Columns: ['CLASSID', 'CATEGORYID', 'product', 'sub_product', 'description', 'bet_or_play']
      CLASSID  CATEGORYID     product  sub_product      description
0  22522_SALE       22522       Vegas  Vegas Bonus            Vegas  \
1    BETC_RET           0  Sportsbook      Various  Bet Corrections
2    BONS_GAM           0       Games  Games Bonus      Games Bonus
3   BONS_SPRB           0  Sportsbook     SB Bonus         SB Bonus
4   BONS_VEGA           0       Vegas  Vegas Bonus      Vegas Bonus

   bet_or_play
0            0
1            0
2            0
3            0
4            0

Sheet: Student_School
Columns: ['Table: student', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Table: school', 'Unnamed: 8', 'Unnamed: 9']
  Table: student    Unnamed: 1     Unnamed: 2   Unnamed: 3 Unnamed: 4
0     student_id  student_name           city    school_id        GPA  \
1    -----------  ------------     ----------  -----------  ---------
2           1001  Peter Brebec       New York            1          4
3           1002   John Goorgy  San Francisco            2        3.1
4           2003    Brad Smith       New York            3        2.9

   Unnamed: 5  Unnamed: 6 Table: school                Unnamed: 8
0         NaN         NaN     school_id               school_name  \
1         NaN         NaN   -----------        ------------------
2         NaN         NaN             1                  Stanford
3         NaN         NaN             2  University of California
4         NaN         NaN             3        Harvard University

      Unnamed: 9
0           city
1     ----------
2       Stanford
3  San Francisco
4       New York

Sheet: Account
    AccountNo   CustId AccountLocation CurrencyCode  DailyDepositLimit
0  00357DG     3531845             GIB          GBP                  0  \
1  00497XG     4188499             GIB          GBP                  0
2  00692VS     4704925             GIB          USD                  0
3  00775SM     2815836             GIB          USD                  0
4  00C017       889782             GIB          GBP               1500

   StakeScale SourceProd
0        1.00         GM
1        1.00         SB
2        2.00         SB
3        1.00         SB
4        0.41         XX

Sheet: Customer
    CustId AccountLocation Title FirstName  LastName CreateDate CountryCode
0  4188499             GIB    Mr     Elvis   Presley 2011-11-01          US  \
1  1191874             GIB    Mr       Jim  Morrison 2008-09-19          US
2  3042166             GIB    Mr     Keith      Moon 2011-01-11         UK
3  5694730             GIB    Mr     James   Hendrix 2012-10-10          US
4  4704925             GIB    Mr      Marc     Bolan 2012-03-26         UK

  Language Status DateOfBirth Contact CustomerGroup
0       en      A  1948-10-18       Y        Bronze
1       en      A  1967-07-27       Y          Gold
2       en      A  1970-07-26       Y          Gold
3       en      A  1976-04-05       N        Bronze
4       en      A  1982-03-11       Y        Bronze

Sheet: Betting
    AccountNo    BetDate     ClassId  CategoryId Source  BetCount  Bet_Amt
0  01196ZZ    2012-11-24  22512_XFER       22512      I       189  29364.0  \
1  00357DG    2012-11-27  22512_XFER       22512      I      1415  19835.0
2  00357DG    2012-11-24  22512_XFER       22512      I      2026  19280.8
3  01196ZZ    2012-12-19  22512_XFER       22512      I       151  17301.0
4  01284UW    2012-10-21          46           5      I        25  16850.0

    Win_Amt     Product  Unnamed: 9  ...  Unnamed: 15  AccountNo.2     Vegas
0  28947.00       Vegas         NaN  ...          NaN   01196ZZ      89860.7  \
1  18639.15       Vegas         NaN  ...          NaN   00357DG     191804.9
2  17904.50       Vegas         NaN  ...          NaN   01284UW          0.0
3  16956.00       Vegas         NaN  ...          NaN   01148BP       7030.0
4   3319.11  Sportsbook         NaN  ...          NaN   00497XG          0.0

   Sportsbook     Games  Casino Poker  Bingo    NaN  Adjustments
0    42758.00      0.00  1262.0   0.0    0.0    0.0         0.00
1      100.00  16899.85    20.0   0.0   49.8    0.0       295.21
2   152613.05      0.00     0.0   0.0    0.0    0.0         0.00
3   290957.71      0.00     0.0   0.0    0.0  500.0         0.00
4        0.00  25784.57     0.0   0.0    0.0    0.0         0.00

[5 rows x 25 columns]

Sheet: Product
      CLASSID  CATEGORYID     product  sub_product      description
0  22522_SALE       22522       Vegas  Vegas Bonus            Vegas  \
1    BETC_RET           0  Sportsbook      Various  Bet Corrections
2    BONS_GAM           0       Games  Games Bonus      Games Bonus
3   BONS_SPRB           0  Sportsbook     SB Bonus         SB Bonus
4   BONS_VEGA           0       Vegas  Vegas Bonus      Vegas Bonus

   bet_or_play
0            0
1            0
2            0
3            0
4            0

Sheet: Student_School
  Table: student    Unnamed: 1     Unnamed: 2   Unnamed: 3 Unnamed: 4
0     student_id  student_name           city    school_id        GPA  \
1    -----------  ------------     ----------  -----------  ---------
2           1001  Peter Brebec       New York            1          4
3           1002   John Goorgy  San Francisco            2        3.1
4           2003    Brad Smith       New York            3        2.9

   Unnamed: 5  Unnamed: 6 Table: school                Unnamed: 8
0         NaN         NaN     school_id               school_name  \
1         NaN         NaN   -----------        ------------------
2         NaN         NaN             1                  Stanford
3         NaN         NaN             2  University of California
4         NaN         NaN             3        Harvard University

      Unnamed: 9
0           city
1     ----------
2       Stanford
3  San Francisco
4       New York

In [2]:
from icecream import ic


# the 'betting' sheet is problematic, I will split into 3. 
df_betting = ironhack_gambling_df['Betting']

# ic(df_betting)
# # Make a copy so we don’t accidentally mutate df
df_betting_1 = df_betting.iloc[:, 0:9].copy()   # columns 0 to 9
df_betting_2 = df_betting.iloc[:, 12:15].copy() # columns 13 to 16
df_betting_3 = df_betting.iloc[:, 16:26].copy() # columns 14..22

# rename so that the column names match
df_betting_2 = df_betting_2.rename(columns={
    'AccountNo.1' : 'AccountNo',
    'Bet_Amt.1' : 'Bet_Amt',
    'Product.1' : 'Product'
})

# rename so that the column names match
df_betting_3 = df_betting_3.rename(columns={
    'AccountNo.2' : 'AccountNo',
    'Bet_Amt.1' : 'Bet_Amt',
    'Product.1' : 'Product',
    df_betting_3.columns[df_betting_3.columns.isna()][0]: 'N_A'
})

# ic(df_betting_3)

# print(df_betting_1.columns)
# print(df_betting_2.columns)
# print(df_betting_3.columns)

# Create a temporary file path
temp_file_path = "temp_SQL_Test_Data.xlsx"

# Write the new sheets into the temporary file
with pd.ExcelWriter(temp_file_path) as writer:
    df_betting_1.to_excel(writer, sheet_name='Betting_1', index=False)
    df_betting_2.to_excel(writer, sheet_name='Betting_2', index=False)
    df_betting_3.to_excel(writer, sheet_name='Betting_3', index=False)

print(f"Temporary file created at: {temp_file_path}")

# Load the temporary file
temp_sql_test_data = pd.ExcelFile(temp_file_path)

# Display sheets in the temporary file
print("Available sheets in the temporary file:", temp_sql_test_data.sheet_names)

# Clean up the temporary file after use
# Uncomment below if you want to automatically delete it after loading
# os.remove(temp_file_path)

Temporary file created at: temp_SQL_Test_Data.xlsx
Available sheets in the temporary file: ['Betting_1', 'Betting_2', 'Betting_3']

In [5]:
import pymysql
import numpy as np
import pandas as pd

# Connect to MySQL
try:
    cnx = pymysql.connect(user='root', password='Malcomx1',
                          host='localhost', database='sqltestdata')
    if cnx.open:
        print("Connection open")
    else:
        print("Connection is not successfully open")

    # The object which will interact with the database
    cursor = cnx.cursor()

    # Mapping of Excel sheet names to MySQL table names
    sheet_to_table_mapping = {
        'Account': 'account',
        'Customer': 'customer',
        'Betting_1': 'betting_1',
        'Betting_2': 'betting_2',
        'Betting_3': 'betting_3',
        'Product': 'product',
        'Student_School': ['student', 'school']
    }

    # Mapping of column names from DataFrame to MySQL schema
    table_column_mapping = {
        'account': ['account_no', 'cust_id', 'account_location', 'currency_code', 'daily_deposit_limit', 'stake_scale', 'source_prod'],
        'customer': ['cust_id', 'account_location', 'title', 'first_name', 'last_name', 'create_date', 'country_code', 'language',
                     'status', 'date_of_birth', 'contact', 'customer_group'],
        'betting_1': ['account_no', 'bet_date', 'class_id', 'category_id', 'source', 'bet_count', 'bet_amt', 'win_amt', 'product'],
        'betting_2': ['account_no', 'bet_amt', 'product'],
        'betting_3': ['account_no', 'vegas', 'sportsbook', 'games', 'casino', 'poker', 'bingo', 'n_a', 'adjustments'],
        'product': ['class_id', 'category_id', 'product_name', 'sub_product', 'description', 'bet_or_play'],
        'student': ['student_id', 'student_name', 'city', 'school_id', 'gpa'],
        'school': ['school_id', 'school_name', 'school_city']
    }

    # Load the Excel file
    file_path = r'C:\Users\Dan\Desktop\GitHub\Ironhack\mini-project-ih-gambling-db-adventure-en\dataset\SQL Test Data.xlsx'
    sql_test_data = pd.ExcelFile(file_path)

    # Loop through each sheet in the mapping
    for sheet, table in sheet_to_table_mapping.items():
        # Load the Excel sheet into a DataFrame
        try:
            df = sql_test_data.parse(sheet)
        except Exception as e:
            print(f"Error loading sheet '{sheet}': {e}")
            continue

        # Clean column names
        df.columns = df.columns.str.strip()
        df.columns = df.columns.str.replace('[^a-zA-Z0-9_]', '_', regex=True)
        df.columns = df.columns.str.replace('^Unnamed.*', 'column_', regex=True)

        # Replace NaN values with None (compatible with MySQL)
        df = df.replace({np.nan: None})

        ###
        # # betting columns 

        # # the 'betting' sheet is problematic, I will split into 3. 
        # df_betting = ironhack_gambling_df['Betting']

        # # ic(df_betting)
        # # # Make a copy so we don’t accidentally mutate df
        # df_betting_1 = df_betting.iloc[:, 0:9].copy()   # columns 0 to 9
        # df_betting_2 = df_betting.iloc[:, 12:15].copy() # columns 13 to 16
        # df_betting_3 = df_betting.iloc[:, 16:26].copy() # columns 14..22

        # # rename so that the column names match
        # df_betting_2 = df_betting_2.rename(columns={
        #     'AccountNo.1' : 'AccountNo',
        #     'Bet_Amt.1' : 'Bet_Amt',
        #     'Product.1' : 'Product'
        # })

        # # rename so that the column names match
        # df_betting_3 = df_betting_3.rename(columns={
        #     'AccountNo.2' : 'AccountNo',
        #     'Bet_Amt.1' : 'Bet_Amt',
        #     'Product.1' : 'Product',
        #     df_betting_3.columns[df_betting_3.columns.isna()][0]: 'N_A'
        # })

        # # Insert data 
        # insert_query = f"INSERT IGNORE INTO betting_1 ({', '.join(table_column_mapping['betting_1'])}) VALUES ({', '.join(['%s'] * len(table_column_mapping['betting_1']))})"
        # cursor.executemany(insert_query, [tuple(row) for _, row in student_df.iterrows()])

        # cnx.commit()
        # print(f"Data from sheet '{sheet}' inserted into 'student' and 'school' tables successfully.")        

        ###
        

        if sheet == 'Student_School':
            # Split Student_School into student and school tables
            student_start_row = 1  # Adjust based on data structure
            school_start_row = 10  # Adjust based on data structure

            # Extract and clean student data
            student_df = df.iloc[student_start_row + 1:school_start_row - 1, :5]
            student_df.columns = table_column_mapping['student']
            student_df = student_df.dropna(how='all')

            # Extract and clean school data
            school_df = df.iloc[school_start_row + 1:, [5, 6, 7]]
            school_df.columns = table_column_mapping['school']
            school_df = school_df.dropna(how='all')

            # Insert student data
            insert_query = f"INSERT IGNORE INTO student ({', '.join(table_column_mapping['student'])}) VALUES ({', '.join(['%s'] * len(table_column_mapping['student']))})"
            cursor.executemany(insert_query, [tuple(row) for _, row in student_df.iterrows()])

            # Insert school data
            insert_query = f"INSERT IGNORE INTO school ({', '.join(table_column_mapping['school'])}) VALUES ({', '.join(['%s'] * len(table_column_mapping['school']))})"
            cursor.executemany(insert_query, [tuple(row) for _, row in school_df.iterrows()])

            cnx.commit()
            print(f"Data from sheet '{sheet}' inserted into 'student' and 'school' tables successfully.")

        else:
            # Process all other sheets
            if isinstance(table, list):
                raise ValueError(f"Sheet '{sheet}' maps to multiple tables but was not handled as a special case.")

            expected_columns = table_column_mapping[table]

            for col in expected_columns:
                if col not in df.columns:
                    df[col] = None  # Add missing columns with default values
            df = df[expected_columns]  # Reorder columns to match the MySQL schema

            # Create INSERT query
            insert_query = f"INSERT IGNORE INTO {table} ({', '.join(expected_columns)}) VALUES ({', '.join(['%s'] * len(expected_columns))})"

            # Insert DataFrame data into MySQL table
            try:
                cursor.executemany(insert_query, [tuple(row) for _, row in df.iterrows()])
                cnx.commit()
                print(f"Data from sheet '{sheet}' inserted into table '{table}' successfully.")
            except Exception as e:
                print(f"Error inserting data for sheet '{sheet}': {e}")

except pymysql.Error as e:
    print(f"MySQL Error: {e}")
except Exception as e:
    print(f"An error occurred: {e}")
finally:
    try:
        if 'cursor' in locals():
            cursor.close()
        if 'cnx' in locals():
            cnx.close()
        print("MySQL connection closed.")
    except Exception as e:
        print(f"Error closing connection: {e}")

Connection open
Data from sheet 'Account' inserted into table 'account' successfully.
Data from sheet 'Customer' inserted into table 'customer' successfully.
Error loading sheet 'Betting_1': Worksheet named 'Betting_1' not found
Error loading sheet 'Betting_2': Worksheet named 'Betting_2' not found
Error loading sheet 'Betting_3': Worksheet named 'Betting_3' not found
Data from sheet 'Product' inserted into table 'product' successfully.
Data from sheet 'Student_School' inserted into 'student' and 'school' tables successfully.
MySQL connection closed.